.Banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background: linear-gradient(0deg, #c2c2c2, rgba(0, 0, 0, 0.2)),
    url("../assets/icons/Banner.png") center/cover repeat;
    font-family: "Quicksand", sans-serif;
   
}

.Banner img {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 20px;
  animation: animationShoes 1s;
  animation-fill-mode: both;
  rotate: -25deg;
}
@keyframes animationShoes {
  0% {
    transform: translateZ(0);
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg);
  }
  100% {
    transform: translateZ(0);
  }
}

.Banner h1 {
  z-index: 2;
  font-size: 6rem;
  text-shadow: 2px 3px rgba(47, 47, 47, 0.3);
  color: #dbdada;
  width: 100%;
  text-align: center;
}
.Banner ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 1;
  width: 400px;
 
}
.Banner ul > li {
  list-style: none;
}
.disabled{
  background: #fff !important;
  color: rgb(123, 123, 123) !important;
  transition: all ease-in-out 0.4s !important;
  font-weight: bold !important;
  transform: scale(1.1);
  transition: all ease-in .2s !important;
}
.Banner ul li  button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px #fff solid;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 600;
  box-shadow:  2px 2px 4px rgba(30, 29, 29, 0.3);
  font-family: "Quicksand", sans-serif;
  font-size: 16px;

}
.Banner ul li  button:hover {
  background: #fff;
  color: rgb(123, 123, 123);
  transition: all ease-in-out 0.4s;
}

@media (max-width:600px) {
  .Banner{
    justify-content: space-around;
  }
  .Banner ul {
    width: 325px;
    overflow-x: auto;
    padding: 5px 5px;
    justify-content: flex-start;
    

  }
  .Banner img{
    width: 290px;
    height: 290px;
  }
  .Banner h1{
    font-size: 45px;
  }
  .Banner ul li  button{
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
}

