@import "vars";

.Nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  top: 0;
  background: rgb(46, 45, 45);
  width: calc(100% - 50px);
  color: #c7c7c7;
  z-index: 5;
}
.menu {
  display: none;
}
.nav_logo {
  width: 100px;
}
.navbar_left ul,
.navbar_right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar_left {
  display: flex;
  align-items: center;
}
.navbar_left ul {
  margin-left: 12px;
}
.navbar_left ul li a,
.navbar_right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}
.navbar_right ul li button {
  border: none;
  background: transparent;
  color: #c7c7c7;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}
.navbar_left ul li a:hover,
.navbar_right ul li a:hover {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}
.navbar-email {
  font-size: 14px;
  margin-right: 12px;
}
.navbar-shopping-cart {
  position: relative;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number_product_cart {
  background: rgb(239, 191, 61) !important;
  color: #fff;
  padding: 1px;
}
// @media (min-width: 640px) {
//   .menu {
//     display: block;
//   }
//   .navbar_left ul {
//     display: none;
//   }
//   .navbar-email {
//     display: none;
//   }
// }
