@import "vars";

.MyOrder {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  background-color: white;
  top: 60px;
  bottom: 0;
  border-radius: 6px;
  border: 1px solid var(--very-light-pink);
  z-index: 20;
  animation: modal 1s;
  animation-fill-mode: both;
  overflow-y: auto;
}
.MyOrder::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.MyOrder::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #8c8c8c;
}
.MyOrder::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(71, 71, 71, 0.3);
}
@keyframes modal {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
.title-container {
  display: flex;
}
.MyOrder-container {
  position: sticky;
  bottom: 0;
  right: 0;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: var(--lg);
  font-weight: bold;
}

.my-order-content {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.my-orders {
  overflow: scroll;
  max-height: 65%;
}

.my-orders::-webkit-scrollbar {
  width: 0px;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: #f7f7f7;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.primary-button {
  background-color: #acd9b2;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  font-size: var(--md);
  font-weight: 500;
  height: 50px;
  text-decoration: none;
}
@media (max-width: 640px) {
  .MyOrder {
    width: 100%;
  }
}
